 @import url("bootstrap.min.css");
 body {
     /* background-image: url("https://bit.ly/32ywQfI"); */
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .par {
     text-align: center;
     font-size: 30px;
     font-family: 'Times New Roman', Times, serif;
 }
 
 .nav img {
     width: 250px;
     height: 250px;
 }
 
 .nav ul {
     list-style-type: none;
 }
 
 ul li {
     float: right;
     padding: 10px 15px;
     list-style-type: none;
 }
 
 .nav ul li a {
     margin-left: 30%;
     float: right;
     list-style-type: none;
 }